@charset "UTF-8";
/* ici se trouve la customisation */
/* font-family font-family: 'Oswald', sans-serif; */

body,
html {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;

}

.img-fluid {
    display: block;
    width: auto;
}


.bg-maincolor {
    background-color: #280000 !important;
}

.bg-maincolor .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.bg-maincolor .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-maincolor {
    color: #fff;
    background-color: #280000;
    border-color: #212529;
}

.btn-maincolor:hover {
    color: #fff;
    background-color: #280000;
    border-color: #1a1e21;
}


/* header */


/* end header */

/* banner */
.inner-banner {
    position: absolute;
    top: 50%;
    left: 0%;
}

.inner-banner h1 {
    text-shadow: 1px 1px 20px;
    text-transform: uppercase;

}

.img-fluid {
    position: relative;
}



/* end banner */

/* articles */

a:hover {
    color: #ac3931;
}


/* end articles*/

/* footer */
.footer {
    background-color: #280000;
    color: white;
}

.footer h2 {
    font-weight: bold;
}

.social {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-enligne-item {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    /*pour IE*/
}

.social .list-enligne-item a {
    background: none;
    width: 36px;
    height: 36px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    text-align: center;
}

.social .list-enligne-item a:hover {

    background: #344966;
    text-decoration: none;
    -webkit-animation: fillColour 0.0s forwards ease-in-out;
    animation: fillColour 0.0s forwards ease-in-out;
}

/* end footer */
